@import 'variable';
@import 'header';
@import 'mixins';
footer {
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer {
	button {
		@include buttonStyle();
	background-color: green;
	}
	p {
		font-size: 20px;
	}
}